// variables



// colors
$color-font 	: red;
$color-main 	: red;
$color-second 	: red;
$color-success 	: red;
$color-danger 	: red;
$color-warning 	: red;








// grid
$col-width: 100% / 12;

// gutters
$gutter: 20px;
